.numInput {
  max-width: 150px;
}

.repeatType {
  max-width: 200px;
}

.repeatTypeSelect {
  min-width: 100%;
}

.reminder {
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.unsaved {
  background-color: rgba(0, 172, 240, 0.2);
}

.deleteBtn {
  float: right;
}
