$warn-color: #d3571e;

.saveBtn {
  margin-right: 20px;
  margin-bottom: 20px;
}

.noReminders {
  color: $warn-color;
  vertical-align: middle;
}

.noReminders div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  margin: 0 auto;
}

.topcontrols {
  position: relative;
  padding-bottom: 40px;
}

.reminderTitle {
  float: left;
}

.addBtn {
  float: right;
}

.refreshBtn {
  float: right;
}

.loading {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}
