.pickWorkpace {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 5px;
}

.pickWorkpace img {
  width: 50px;
  height: 50px;
}

#left {
  float: left;
}

.profileSpacer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 12px;
  border-top: solid rgba(245, 245, 245, 0.3) 1px;
  mix-blend-mode: screen;
}

.bottomBar {
  opacity: 0.8;
  width: 80%;
  border-bottom: solid 1px whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.desktopMenu {
  height: 100%;
}

.app::before {
  content: "";
  opacity: 0;
  transition: all 0.3s ease;
}

.appActive img {
  -webkit-box-shadow: 0px -1px 11px -1px rgba(133, 133, 133, 0.56);
  -moz-box-shadow: 0px -1px 11px -1px rgba(133, 133, 133, 0.56);
  box-shadow: 0px -1px 11px -1px rgba(133, 133, 133, 0.56);
}

.appActive::before {
  opacity: 1;
  position: absolute;
  display: block;
  color: white;
  top: 27px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 14px solid white;
  border-left: 20px solid transparent;
  transform: rotate(90deg);
  content: "";
}

.desktopApps {
  contain: none;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80px;
  padding: 0px;
  height: 100%;
  float: left;
  border: 1px solid
    var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  background-color: darkslategrey;
}

.appIcons:first-child {
  margin-top: 10px;
}

.appIcons {
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out 0s, box-shadow 0.4s ease-in-out 0.1s;
  transform: scale(1);
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: none;
}

.appIcons:hover {
  transform: scale(1.1);
  filter: contrast(1.3);
  cursor: pointer;
}

/* .appIconsActive {
  border: 2px solid rgba(212, 212, 212, 0.8);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} */

.menuSlider {
  width: 100%;
  height: 100%;
}

.mobileMenu {
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (max-width: 990px) {
  .mobileMenu {
    display: block;
  }
  .desktopMenu {
    display: none;
  }
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
/* [data-tooltip]:before, */
[data-tooltip]:after,
/* .tooltip:before, */
.tooltip:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out 0.6s,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24) 0.6s;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
/* [data-tooltip]:hover:before, */
[data-tooltip]:hover:after,
/* [data-tooltip]:focus:before, */
[data-tooltip]:focus:after,
/* .tooltip:hover:before, */
.tooltip:hover:after,
/* .tooltip:focus:before, */
.tooltip:focus:after {
  visibility: visible;
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
/* .tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
} */

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
/* [data-tooltip]:before, */
[data-tooltip]:after,
/* .tooltip:before, */
.tooltip:after {
  bottom: 100%;
  left: 50%;
}

/* [data-tooltip]:before,
.tooltip:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
} */

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

/* [data-tooltip]:hover:before, */
[data-tooltip]:hover:after,
/* [data-tooltip]:focus:before, */
[data-tooltip]:focus:after,
/* .tooltip:hover:before, */
.tooltip:hover:after,
/* .tooltip:focus:before, */
.tooltip:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
}

/* Right */
/* .tooltip-right:before, */
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

/* .tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
} */

/* .tooltip-right:hover:before, */
.tooltip-right:hover:after,
/* .tooltip-right:focus:before, */
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
/* .tooltip-right:before {
  top: 3px;
   display: none;
} */

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
