.settingsToggle {
  float: right;
}

.settingsToggle Ion-Label {
  position: absolute;
  width: 200px;
  right: -10px;
  top: 25px;
}

.range {
  --knob-size: 35px;
  --bar-height: 5px;
  --height: 100px;
}
